@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

/* Config */

:root {
  --default-text: white;
  --flat-bg: rgb( 26, 26, 26 );
  --hover-link: rgb( 162, 131, 78 );
  --overlay: rgba( 0, 0, 0, 0.8 );
}

/* CSS Styles */

* {
  margin: 0;
}

a {
  color: var( --default-text );
  text-decoration: none;
}

body {
  background-color: var( --flat-bg );
  color: var( --default-text );
  font-family: 'Titillium Web', sans-serif;
}

body.has-image {
  background-attachment: fixed;
  background-color: transparent;
  background-image: url( "images/BG_FINAL.jpg" );
  background-repeat: no-repeat;
}

footer {
  height: 20vh;
  width: 100%;
}

h2 {
  letter-spacing: 2px;
}

h3 {
  letter-spacing: 3.42px;
}

hr {
  border-top: 1px solid rgba( 255, 255, 255, 0.1 );
  margin: 50px 0;
  width: 60%;
}

hr.full-width {
  width: 100%;
}

.announcement {
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  margin-bottom: 15px;
  padding: 10px;
  text-align: center;
}

.announcement > div {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.announcement > div > span {
  width: 250px;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  min-height: 100vh;
  width: 100vw;
}

.content {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.6px;
  line-height: 25.6px;
  width: 60%;
}

.content p {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.6px;
  line-height: 25.6px;
  text-align: center;
}

.faq li {
  margin-bottom: 15px;
}

.menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.menu h2 {
  font-weight: 300;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.menu h3 {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1.6px;
  text-align: center;
  text-transform: uppercase;
}

.menu hr {
  border-top: 1px solid var( --default-text );
}

.menu p {
  margin-bottom: 15px;
}

.menu .cash-and-debit {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 2.6px;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
}

.menu .section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.menu .section .menu-item {
  margin-top: 40px;
}

.menu .section .menu-item h4 {
  font-size: 17.6px;
  font-weight: 700;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.menu .section .menu-item h4.no-transform {
  text-transform: none;
}

.menu .section .menu-item div {
  letter-spacing: 1.6px;
}

.menu .section-header div {
  font-size: 13.6px;
  font-weight: 300;
  letter-spacing: 1.6px;
  line-height: 19px;
}

.menu .spacer {
  height: 100px;
  width: 100%;
}

.navbar {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
}

.navbar a {
  display: block;
  color: var( --default-text );
  font-size: 14px;
  letter-spacing: 2.8px;
  margin: 0 15px;
  text-transform: uppercase;
  transition: color 0.5s;
}

a:hover,
a.active-link {
  color: var( --hover-link );
}

.overlay {
  background-color: var( --overlay );
  height: 102vh;
  left: -1vw;
  position: fixed;
  top: -1vh;
  width: 102vw;
  z-index: -1;
}

.spacer {
  height: 30px;
  width: 100%;
}

.splash-big {
  margin-top: 10px;
}

.splash-big img {
  max-width: 90vw;
}

.splash-little {
  margin: 10px 0 50px 0;
}

.text-align-center {
  text-align: center;
}