<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ page.title | default: "Tokiwa Ramen" }}</title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/assets/main.css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body class="has-image">
  {% include navbar.html %}

  <main>
    {{ content }}
  </main>

  <footer class="text-center p-10 text-sm text-gray-400">© {{ "now" | date: "%Y" }} Tokiwa Ramen</footer>
</body>
</html>
